# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Imágenes de disco (Las que generarán con Cubic y QEMU)
*.iso
*.img
*.vdi
*.vmdk

# Archivos comprimidos pesados
*.tar.gz
*.zip
*.rar

# Archivos objeto y ejecutables de C/Ensamblador (Parte del Kernel)
*.o
*.bin
*.elf
*.out

# Logs del sistema o del laboratorio
*.log

# Archivos ocultos del sistema operativo (Opcional pero recomendado)
.DS_Store
Thumbs.db
